<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/addPost">New Post</a></li>

</ul>
</nav>
<form id="post-form" method="post" action="/posts/<%= post.id %>/edit?_method=PUT">
    <div class="form-info">
        <label>Post Title
            <input type="text" name="title" value="<%= post.title %>">
        </label>
        <label>Author
            <input type="text" name="author" value="<%= post.author %>">
        </label>
    </div>
    <div class="form-text">
        <label>Post Text
            <textarea name="text"><%= post.text %></textarea>
        </label>
    </div>
    <div class="form-button">
        <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>
