<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/addPost">New Post</a></li>

    </ul>
</nav>
<article>
    <div class="info">
        <span><%= new Date(post.createdAt).toLocaleDateString() %></span>
        <span>Author :<%= post.author %></span>
    </div>
    <h1>Title :<%= post.title %></h1>
    <p>Description :<%= post.text %></p>
    <a href="/posts/<%= post.id %>/edit" class="btn-edit">
        <i class="fas fa-edit"></i>
    </a>
    <button class="btn-delete" data-id="<%= post.id %>">
        <i class="fas fa-trash-alt" data-id="<%= post.id %>"></i>
    </button>
</article>


</body>
</html>
