<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/addPost">New Post</a></li>

    </ul>
</nav>
<article>
    <div class="info">

        <span>Author :<%= post.author %></span>
    </div>
    <h1 class="post-title">Title :<%= post.title %></h1>
    <p>Description :<%= post.text %></p>
    <p>Post Date :<%= post.date %></p>
    <a href="/posts/<%= post.id %>/edit" class="btn-edit">
        <i class="fas fa-edit"></i>
    </a>

</article>


</body>
</html>
